{% extends "web/base.html" %}
{% load i18n %}
{% block body %}
  <div class="alert alert-info">
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
      You are about to use your {{ provider_name }} account to login to
      {{ site_name }}. As a final step, please complete the following form.
    {% endblocktrans %}
  </div>
  <div id="fullpage-form-wrapper">
    <div id="fullpage-form">
      <h1 class="h4">{% trans "Sign Up" %}</h1>
      <form
        class="signup"
        method="post"
        action="{% url 'socialaccount_signup' %}"
      >
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label for="{{ form.email.id_for_label }}" class="form-label"
            >{% trans "Email" %}</label
          >
          <div>{{ form.email }}</div>
          {{ form.email.errors }}
        </div>
        {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
        {% endif %}
        <div class="d-flex gap-2">
          <div>
            <button class="btn btn-primary" type="submit">
              {% trans "Sign Up" %} &raquo;
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
