{% extends "web/app/app_base.html" %}
{% load i18n %}
{% block app %}
  <section class="py-4 app-card">
    <h1 class="h2">{% trans "Delete Destination" %}</h1>
    <p>
      {% blocktrans with name=destination.name %}
        Are you sure you want to delete the destination
        <strong>{{ name }}</strong>?
      {% endblocktrans %}
    </p>
    <form method="post">
      {% csrf_token %}
      <div class="d-flex gap-2">
        <div>
          <button class="btn btn-danger" type="submit">
            {% trans 'Delete' %}
          </button>
        </div>
        <div>
          <a
            class="btn btn-secondary"
            href="{% url 'forwarding:destinations' %}"
          >
            {% trans "Cancel" %}
          </a>
        </div>
      </div>
    </form>
  </section>
{% endblock app %}
