{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load dateformat_tags %}
{% block app %}
<section class="section app-card">
  <div class="level">
    <!-- Left side -->
    <div class="level-left">
      <h1 class="title">{% blocktrans with name=forwarder.name %}{{ name }} - Details{% endblocktrans %}</h1>
    </div>
    <div class="level-right">
      <div class="buttons">
      <a class="button is-danger is-rounded is-small is-outlined" href="#">
        <span class="icon">
          <i class="fa fa-times"></i>
        </span>
        <span>{% trans "Delete" %}</span>
      </a>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <span class="heading">{% trans "Database" %}</span>
      <h2>
        {{ forwarder.database.name }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">{% trans "Destination" %}</span>
      <h2>
        {{ forwarder.destination.name }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">{% trans "Created By" %}</span>
      <h2>
        {% if request.user == forwarder.created_by %}{% trans "You" %}{% else %}{{ forwarder.created_by.username}}{% endif %}
      </h2>
    </div>
    <div class="column">
      <span class="heading">{% trans "Last Modified" %}</span>
      <h2>
        {{ forwarder.updated_at|naturaltime }}
      </h2>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <span class="heading">{% trans "Query" %}</span>
      <pre class="wrapped">{{ forwarder.query }}</pre>
    </div>
  </div>
  {% if forwarder.query_params %}
  <div class="columns">
    <div class="column">
      <span class="heading">{% trans "Query Parameters" %}</span>
      <pre class="wrapped">{{ forwarder.query_params }}</pre>
    </div>
  </div>
  {% endif %}
  <div class="buttons">
    <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'forwarding:edit_forwarding_config' forwarder.id %}">
        <span class="icon">
          <i class="fa fa-edit"></i>
        </span>
        <span>{% trans "Edit" %}</span>
      </a>
  </div>
</section>
{% include 'forwarding/partials/run_history.html' %}
{% endblock app %}
