{% extends "web/base.html" %}
{% load static i18n %}

{% block body %}
<div id="fullpage-form-wrapper">
    <div id="fullpage-form">
        <h1 class="title is-size-4">{% trans "Sign in" %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="field">
              <label class="label">{% trans "Email" %}</label>
              <div class="control">
                {{ form.login }}
              </div>
              {{ form.login.errors }}
            </div>
            <div class="field">
              <label class="label">{% trans "Password" %}</label>
              <div class="control">
                {{ form.password }}
              </div>
              {{ form.password.errors }}
            </div>
            <input class="button is-primary is-fullwidth" type="submit" value="{% trans 'Sign in' %}">



            <hr>
            <div class="field has-text-centered">
                <a class="muted-link" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot password?" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

