{% extends "web/base.html" %}
{% load static i18n %}

{% block body %}
  <div id="fullpage-form-wrapper">
    <div id="fullpage-form">
      <h1 class="h4">{% trans "Sign in" %}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label for="{{ form.login.id_for_label }}" class="form-label"
            >{% trans "Email" %}</label
          >
          {{ form.login }}
          {{ form.login.errors }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password.id_for_label }}" class="form-label"
            >{% trans "Password" %}</label
          >
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <button class="btn btn-primary w-100" type="submit">
          {% trans 'Sign in' %}
        </button>

        <hr />
        <div class="mb-3 text-center">
          <a class="link-secondary" href="{% url 'account_reset_password' %}">
            {% trans "Forgot password?" %}
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
