{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
  <section class="py-4 app-card">
    <h1 class="h4">Sign out</h1>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
      {% endif %}
      <div class="d-flex gap-2">
        <div>
          <button class="btn btn-primary" type="submit">Sign Out</button>
          <a
            class="icon-link btn btn-outline-primary btn-sm rounded-pill"
            href="{% url 'web:home' %}"
          >
            <i class="fa-solid fa-home"></i>
            Home
          </a>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
