{% extends "web/base.html" %}
{% load static i18n %}

{% block body %}
  <div id="fullpage-form-wrapper">
    <div id="fullpage-form">
      <h1 class="h4">{% trans "Sign Up" %}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label for="{{ form.email.id_for_label }}" class="form-label"
            >{% trans "Email" %}</label
          >
          <div>{{ form.email }}</div>
          {{ form.email.errors }}
        </div>
        <div class="mb-3">
          <label for="{{ form.password1.id_for_label }}" class="form-label"
            >{% trans "Password" %}</label
          >
          <div>{{ form.password1 }}</div>
          {{ form.password1.errors }}
        </div>

        <input
          class="btn btn-primary w-100"
          type="submit"
          value="{% trans 'Sign Up' %}"
        />

        <hr />
        <div class="mb-3 text-center text-muted">
          {% trans "Already have account?" %}
          <a class="link-secondary" href="{% url 'account_login' %}">
            {% trans "Go to Sign In." %}
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
