{% extends "web/app/app_base.html" %}
{% load static %}
{% load dateformat_tags %}
{% block app %}
<section class="section app-card">
  <div class="level">
    <!-- Left side -->
    <div class="level-left">
      <h1 class="title">{{ export.name }} - Details</h1>
    </div>
    <div class="level-right">
      <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'exports:edit_export_config' export.id %}">
        <span class="icon">
          <i class="fa fa-edit"></i>
        </span>
        <span>Edit</span>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <span class="heading">Project Space</span>
      <h2>
        <a href="{{ export.project.url }}" target="_blank">{{ export.project.domain }}
          <i class="fa fa-external-link"></i>
        </a>
      </h2>
    </div>
    <div class="column">
      <span class="heading">Account</span>
      <h2>
        {{ export.account.username }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">Database</span>
      <h2>
        {{ export.database.name }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">Created By</span>
      <h2>
        {% if request.user == export.created_by %}You{% else %}{{ export.created_by.username}}{% endif %}
      </h2>
    </div>
  </div>
  <a class="button is-primary is-rounded is-small" href="{{ export.config_file.url }}">
    <span class="icon">
      <i class="fa fa-download"></i>
    </span>
    <span>Download Config File</span>
  </a>
</section>
<section class="section app-card">
  <h1 class="title">Run History</h1>
  <button class="button is-primary is-rounded is-small" id="run-export-button">
    <span class="icon">
      <i class="fa fa-play"></i>
    </span>
    <span>Run Now</span>
  </button>
  <div id="export-status-progress" class="progress-bar-demo my-2" style="display: none;">
    <div class='progress-wrapper'>
      <progress id="progress-bar" class="progress is-small is-primary" max="100"></progress>
    </div>
    <div id="progress-bar-message" style="color: grey;">Waiting for task to start...</div>
  </div>
  <table id="export-run-table" class="table is-fullwidth my-2">
    <thead>
    <tr>
      <th>Run Start</th>
      <th>Duration</th>
      <th>Status</th>
      <th>Log</th>
    </tr>
    </thead>
    <tbody>
    {% for export_run in runs %}
      <tr>
        <td>{{ export_run.created_at }}</td>
        <td>{{ export_run.duration|readable_timedelta }}</td>
        <td>{{ export_run.status }}</td>
        <td>
          <a class="log-trigger" data-open-status="closed" data-export-run-id="{{ export_run.id }}"><span class="icon"><i class="fa fa-chevron-down"></i></span>
            View log
          </a>
        </td>
      </tr>
      <tr class="export-log my-1" id='export-log-{{ export_run.id }}' style="display: none;" >
        <td colspan="4">
          {{ export_run.get_log_html }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock app %}
{% block page_js %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'js/App-bundle.js' %}"></script>
    <script>
    const apiUrl = "{% url 'exports:run_export' export.id %}";
    const progressUrl = "{% url 'celery_progress:task_status' 'task-id-stub' %}";
    const Cookies = SiteJS.App.Cookies;
    const addRecordToTable = function () {
      // ht: https://stackoverflow.com/a/18333693/8207
      const exportRunTable = document.getElementById('export-run-table').getElementsByTagName('tbody')[0];
      const recordRow = exportRunTable.insertRow(0);

      // Populate the cell with initial data
      recordRow.insertCell(0).appendChild(document.createTextNode('Just now'));
      recordRow.insertCell(1).appendChild(document.createTextNode('TBD'));
      recordRow.insertCell(2).appendChild(document.createTextNode('started'));
      recordRow.insertCell(3).appendChild(document.createTextNode('waiting for log...'));
      return recordRow;
    };

    document.addEventListener("DOMContentLoaded", function () {
        var trigger = document.getElementById('run-export-button');
        trigger.addEventListener('click', function (e) {
            e.preventDefault();
            const progressWrapper = document.getElementById('export-status-progress');
            progressWrapper.style.display = 'inherit';
            const progressBar = document.getElementById('progress-bar');
            const progressMessage = document.getElementById('progress-bar-message');
            fetch(apiUrl, {
                method: 'post',
                credentials: 'same-origin',
                headers: {
                  'X-CSRFToken': Cookies.get('csrftoken'),
                }
            }).then(
                function (response) {
                    return response.text();
                }).then(function (text) {
                    const taskUrl = progressUrl.replace('task-id-stub', text);
                    const recordRow = addRecordToTable();
                    CeleryProgressBar.initProgressBar(taskUrl, {
                      onProgress: function () {
                        progressMessage.innerHTML = 'Running Export...'
                      },
                      onSuccess: function () {
                        progressBar.setAttribute('value', '100');
                        progressMessage.innerHTML = 'Complete!'
                      },
                      onResult: function (resultElement, result) {
                        recordRow.cells[1].innerText = result.duration;
                        recordRow.cells[2].innerText = result.status;
                        if (result.status === "completed") {
                          progressBar.classList.add('is-success');
                        } else if (result.status === "failed") {
                          progressBar.classList.add('is-danger');
                          progressMessage.innerText = 'Failed!'
                        }
                        recordRow.cells[3].innerHTML = '<a onclick=location.reload()>Refresh for log</a>';
                      }
                    });
                  })
                  .catch(function (error) {
                    console.error('Request failed', error);
                });
                e.preventDefault();
        }, false);
    });
    </script>
  <script type="application/javascript">
  document.addEventListener('DOMContentLoaded', () => {
      let releaseNotesTriggers = document.getElementsByClassName('log-trigger');
      for (let i = 0; i < releaseNotesTriggers.length; i++) {
          releaseNotesTriggers[i].addEventListener("click", function (event) {
              let trigger = event.target.closest('a');
              let selectorId = 'export-log-' + trigger.dataset.exportRunId;
              let notes = document.getElementById(selectorId);
              let icon = trigger.querySelector(".fa");
              if (trigger.dataset.openStatus === 'closed') {
                  notes.style.display = '';
                  trigger.dataset.openStatus = 'open';
                  icon.classList.remove('fa-chevron-down');
                  icon.classList.add('fa-chevron-up');
              } else {
                  notes.style.display = 'none';
                  trigger.dataset.openStatus = 'closed';
                  icon.classList.remove('fa-chevron-up');
                  icon.classList.add('fa-chevron-down');
              }
          });
      }
  });
</script>

{% endblock %}
