{% extends "web/app/app_base.html" %}
{% load static %}
{% load dateformat_tags %}
{% block app %}
<section class="section app-card">
  <div class="level">
    <!-- Left side -->
    <div class="level-left">
      <h1 class="title">{{ export.name }} - Details</h1>
    </div>
    <div class="level-right">
      <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'exports:edit_export_config' export.id %}">
        <span class="icon">
          <i class="fa fa-edit"></i>
        </span>
        <span>Edit</span>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <span class="heading">Project Space</span>
      <h2>
        <a href="{{ export.project.url }}" target="_blank">{{ export.project.domain }}
          <i class="fa fa-external-link"></i>
        </a>
      </h2>
    </div>
    <div class="column">
      <span class="heading">Account</span>
      <h2>
        {{ export.account.username }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">Database</span>
      <h2>
        {{ export.database.name }}
      </h2>
    </div>
    <div class="column">
      <span class="heading">Created By</span>
      <h2>
        {% if request.user == export.created_by %}You{% else %}{{ export.created_by.username}}{% endif %}
      </h2>
    </div>
  </div>
  <a class="button is-primary is-rounded is-small" href="{{ export.config_file.url }}">
    <span class="icon">
      <i class="fa fa-download"></i>
    </span>
    <span>Download Config File</span>
  </a>
</section>
{% include 'exports/partials/run_history.html' %}
{% endblock app %}
{% block page_js %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script src="{% static 'js/app-bundle.js' %}"></script>
<script>
    const apiUrl = "{% url 'exports:run_export' export.id %}";
    const progressUrl = "{% url 'celery_progress:task_status' 'task-id-stub' %}";
    const Exports = SiteJS.app.Exports;
    document.addEventListener("DOMContentLoaded", function () {
      Exports.initializeExportRunButton(apiUrl, progressUrl);
    });
    document.addEventListener('DOMContentLoaded', Exports.setupLogTriggers);
</script>
{% endblock page_js %}
