{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="h4">
    {% if validlink %}{% trans "Change Password" %}{% else %}{% trans "Bad Token" %}{% endif %}
  </h1>
  {% if validlink %}
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        <label for="{{ form.new_password1.id_for_label }}" class="form-label"
          >{% trans "New Password" %}</label
        >
        <div>{{ form.new_password1 }}</div>
        {{ form.new_password1.errors }}
      </div>
      <div class="mb-3">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label"
          >{% trans "New Password (again)" %}</label
        >
        <div>{{ form.new_password2 }}</div>
        {{ form.new_password2.errors }}
      </div>
      <div class="d-flex gap-2">
        <div>
          <input
            class="btn btn-primary"
            type="submit"
            value="{% trans 'Change Password' %}"
          />
        </div>
      </div>
    </form>
  {% else %}
    {% url 'password_reset' as passwd_reset_url %}
    <p>
      {% blocktrans %}
        The password reset link was invalid, possibly because it has already
        been used.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
