{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello,

You're receiving this email because you (or someone claiming to be you) requested a password reset for your CommCare Data Pipeline account at {{ site_name }}.{% endblocktrans %}

{% trans "If you made this request, follow the link below to choose a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Your username, in case you've forgotten: {{ user }}{% endblocktrans %}

{% trans "If you didn't request a reset, you can safely ignore this email." %}

{% trans "Thanks for using our site!" %}
{% endautoescape %}
