{% load i18n %}
{% csrf_token %}
{{ form.non_field_errors }}
<div class="mb-3">
  <label class="form-label">{% trans "Name" %}</label>
  <div>
    {{ form.name }}
  </div>
  {{ form.name.errors }}
</div>
<div class="mb-3">
  <label class="form-label">{% trans "Project" %}</label>
  <div>
    <select
      name="{{ form.project.html_name }}"
      id="{{ form.project.id_for_label }}"
      class="form-select"
      @change="htmx.trigger('#id_config_file_select', 'refresh')"
    >
      {% for value, label in form.project.field.choices %}
        <option value="{{ value }}"{% if form.project.value == value %} selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  {{ form.project.errors }}
</div>
{% include 'exports/partials/export_form_shared.html' %}
