<div class="field">
  <label class="label">Account</label>
  <div class="select">
    {{ form.account }}
  </div>
  {{ form.account.errors }}
</div>
<div class="field">
  <label class="label">Database</label>
  <div class="select">
    {{ form.database }}
  </div>
  {{ form.database.errors }}
</div>
<div class="field">
  <label class="label">Is Paused?</label>
  <div class="control">
    {{ form.is_paused }}
  </div>
  <p class="help">{{ form.is_paused.help_text }}</p>
  {{ form.is_paused.errors }}
</div>
<div class="field">
  <label class="label">Time Between Runs</label>
  <div class="control">
    {{ form.time_between_runs }}
  </div>
  <p class="help">{{ form.time_between_runs.help_text }}</p>
  {{ form.time_between_runs.errors }}
</div>
<div class="field">
  <label class="label">Batch Size</label>
  <div class="control">
    {{ form.batch_size }}
  </div>
  <p class="help">{{ form.batch_size.help_text }}</p>
  {{ form.batch_size.errors }}
</div>
<div class="field">
  <div id="export-file" class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="config_file" required_id="id_config_file">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          {% if form.instance.pk and form.instance.config_file.name %}
            Change Config File
          {% else %}
            Upload Config File
          {% endif %}
        </span>
      </span>
      <span class="file-name">
        {% if form.instance.pk and form.instance.config_file.name %}
        {{ form.instance.config_file.name }}
        {% else %}
          Choose a file...
        {% endif %}
      </span>
    </label>
  </div>
  {{ form.config_file.errors }}
</div>
<script>
  const fileInput = document.querySelector('#export-file input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#export-file .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
<div class="field">
  <label class="label">Extra Arguments</label>
  <div class="control">
    {{ form.extra_args }}
  </div>
  {{ form.extra_args.errors }}
</div>
