{% load dateformat_tags %}
{% load exports_tags %}
<table id="export-run-table" class="table is-fullwidth my-2">
  <thead>
  <tr>
    <th>Queued</th>
    <th>Started</th>
{% if is_partial_list  %}
    <th>Project</th>
{% endif  %}
    <th>Duration</th>
    <th>Status</th>
  {% if not is_multi_project %}
    <th>Log</th>
  {% endif %}
  {% if not is_partial_list %}
    <th>Config File</th>
  {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for export_run in runs %}
    <tr>
      <td>
      <span class="icon" >
      {% if export_run.triggered_from_ui %}
        <i class="fa fa-user" title="Triggered from UI by {{ export_run.triggering_user|default:'unknown'}}"></i>
      {% elif export_run.triggered_from_ui == False %}
        <i class="fa fa-clock-o has-text-grey-light" title="Scheduled Run"></i>
      {% else %}
        <i class="fa fa-question has-text-grey-light" title="Unknown"></i>
      {% endif %}
      </span>

        {% if is_multi_project  %}<a href="{% url 'exports:multi_export_run_details' export.id export_run.id %}">{{ export_run.created_at }}</a>{% else %}{{ export_run.created_at }}{% endif %}
      </td>
      <td>{{ export_run.started_at|default:'-' }}</td>
      {% if is_partial_list  %}
        <td>{{ export_run.project.domain }}</td>
      {% endif  %}
      <td>{{ export_run.duration|readable_timedelta }}</td>
      <td>{{ export_run.status|to_status_icon }} {{ export_run.status }}</td>
      {% if not is_multi_project %}
      <td>
        <a class="log-trigger" data-open-status="closed" data-export-run-id="{{ export_run.id }}"><span class="icon"><i class="fa fa-chevron-down"></i></span>
          View log
        </a>
      </td>
      {% endif %}

      {% if not is_partial_list %}
      <td>
        {% if export_run.export_config_version.field_dict.config_file %}
        <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'exports:download_export_file_version' export_run.export_config_version.id %}">
        <span class="icon">
          <i class="fa fa-download"></i>
        </span>
        </a>
        {% else %}
          <span class="has-text-grey">Not available</span>
        {% endif %}
      </td>
      {% endif %}

    </tr>
    {% if not is_multi_project %}
    <tr class="export-log my-1" id='export-log-{{ export_run.id }}' style="display: none;" >
      <td colspan="{% if is_multi_project  %}5{% else %}4{% endif %}">
        {{ export_run.get_log_html }}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
