<aside class="menu">
  <p class="menu-label is-hidden-tablet-only">
    Export Management
  </p>
  <ul class="menu-list">
    <li>
      <a href="{% url 'exports:home' %}" {% if active_tab == 'exports' %}class="is-active"{% endif %}>
        <span class="icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">Exports</span>
      </a>
    </li>
    <li>
      <a href="{% url 'exports:create_export_config' %}" {% if active_tab == 'create_export' %}class="is-active"{% endif %}>
        <span class="icon"><i class="fa fa-plus"></i></span><span class="is-hidden-tablet-only">New Export</span>
      </a>
    </li>
  </ul>
  <p class="menu-label is-hidden-tablet-only">
    CommCare Management
  </p>
  <ul class="menu-list">
    <li>
      <a href="{% url 'commcare:home' %}" {% if active_tab == 'commcare' %}class="is-active"{% endif %}>
        <span class="icon"><i class="fcc fcc-flower"></i></span><span class="is-hidden-tablet-only">CommCare Setup</span>
      </a>
    </li>
    <li>
      <a href="{% url 'commcare:create_project' %}" {% if active_tab == 'create_project' %}class="is-active"{% endif %}>
        <span class="icon"><i class="fa fa-plus"></i></span><span class="is-hidden-tablet-only">New Project</span>
      </a>
    </li>
    <li>
      <a href="{% url 'commcare:create_account' %}" {% if active_tab == 'create_account' %}class="is-active"{% endif %}>
        <span class="icon"><i class="fa fa-user-plus"></i></span><span class="is-hidden-tablet-only">New Account</span>
      </a>
    </li>
  </ul>
  <p class="menu-label is-hidden-tablet-only">
    My Account
  </p>
  <ul class="menu-list">
    <li>
        <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-user"></i></span><span class="is-hidden-tablet-only">Profile</span>
        </a>
    </li>
    <li>
        <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-unlock-alt"></i></span><span class="is-hidden-tablet-only">Change Password</span>
        </a>
    </li>
    <li>
        <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="is-active"{% endif %}>
            <span class="icon"><i class="fa fa-sign-out"></i></span><span class="is-hidden-tablet-only">Sign out</span>
        </a>
    </li>
  </ul>
</aside>
