{% load i18n %}
{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-light bg-white"
  role="navigation"
  aria-label="{% trans 'main navigation' %}"
>
  <div class="container">
    <a class="navbar-brand" href="{% url 'web:home' %}">
      <img
        src="{% static 'images/commcare-flower.png' %}"
        width="28"
        height="28"
        alt="CommCare"
      />
      <span class="mx-2">{{ project_meta.NAME }}</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#nav-menu"
      aria-controls="nav-menu"
      aria-expanded="false"
      aria-label="{% trans 'Toggle navigation' %}"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i
                class="fa-solid fa-bars"
                data-bs-toggle="tooltip"
                title="{% trans 'Menu' %}"
              ></i>
              <span class="visually-hidden">{% trans "Menu" %}</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              {% if user.is_admin %}
                <li>
                  <a class="dropdown-item" href="{% url 'admin:index' %}">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    {% trans "Admin Site" %}
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'exports:download_commcare_export_log' %}"
                  >
                    <i class="fa-solid fa-download"></i>
                    {% trans "Download Logs" %}
                  </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="{% url 'users:user_profile' %}">
                  <i class="fa-solid fa-user"></i> {% trans "Profile" %}
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{% url 'password_change' %}"
                >
                  <i class="fa-solid fa-unlock-keyhole"></i>
                  {% trans "Change Password" %}
                </a>
              </li>
              <li>
                <button
                  type="submit"
                  form="logout-form"
                  class="dropdown-item"
                >
                  <i class="fa-solid fa-right-from-bracket"></i>
                  {% trans "Sign Out" %}
                </button>
              </li>
            </ul>
            <form
              id="logout-form"
              method="post"
              action="{% url 'logout' %}"
              class="d-none"
            >
              {% csrf_token %}
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a
              class="btn btn-outline-primary me-2"
              href="{% url 'account_signup' %}"
              >{% trans "Sign up" %}</a
            >
          </li>
          <li class="nav-item">
            <a class="btn btn-link" href="{% url 'login' %}"
              >{% trans "Sign in" %}</a
            >
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
