{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
  <section class="py-4 container">
    <div class="row flex-row-reverse">
      <div class="col-md-6">
        <img
          src="{% static 'images/undraw/undraw_alert.svg' %}"
          alt="{% trans 'Uh-Oh' %}"
        />
      </div>
      <div id="tagline" class="col-md-6">
        <h1 class="h3">
          {% trans "You have to be an administrator to do that." %}
        </h1>
        <p class="lead">
          {% trans "If you think you should have access to this page, contact someone on your support team." %}
        </p>
        {% if dev_mode %}
          <p>
            {% trans "In development you can fix this problem by running the command below and refreshing the page:" %}
          </p>
          <pre>./manage.py promote_user_to_superuser {{ user.username }}</pre>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
