{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
  <section class="py-5 container">
    <img
      class="my-2"
      src="{% static 'images/commcare-logo.png' %}"
      alt="{% trans 'CommCare Logo' %}"
      style="max-width: 600px"
    />
    <div>
      <h1 class="display-4">{{ project_meta.NAME }}</h1>
      <h2 class="h3 text-muted">{{ project_meta.DESCRIPTION }}</h2>
      <p class="d-flex gap-2">
        <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}">
          {% trans "Create account" %}
        </a>
        <a
          class="btn btn-outline-primary btn-lg"
          href="{% url 'login' %}"
        >
          {% trans "Sign in" %}
        </a>
      </p>
    </div>
  </section>
{% endblock %}
