{% load i18n %}
{% csrf_token %}
{{ form.non_field_errors }}
{% include 'commcare/partials/commcare_server_field.html' %}
<div class="mb-3">
  <label class="form-label">{% trans "Username" %}</label>
  <div>
    {{ form.username }}
  </div>
  <p class="form-text">{{ form.username.help_text }}</p>
  {{ form.username.errors }}
</div>
<div class="mb-3">
  <label class="form-label">{% trans "API Key" %}</label>
  <div>
    {{ form.api_key }}
  </div>
  <p class="form-text">{{ form.api_key.help_text }}</p>
  {{ form.api_key.errors }}
</div>
