{% csrf_token %}
{{ form.non_field_errors }}
{% include 'commcare/partials/commcare_server_field.html' %}
<div class="field">
  <label class="label">Username</label>
  <div class="control">
    {{ form.username }}
  </div>
  <p class="help">{{ form.username.help_text }}</p>
  {{ form.username.errors }}
</div>
<div class="field">
  <label class="label">API Key</label>
  <div class="control">
    {{ form.api_key }}
  </div>
  <p class="help">{{ form.api_key.help_text }}</p>
  {{ form.api_key.errors }}
</div>
