{% load i18n %}
<div class="mb-3">
  <label for="{{ form.server.id_for_label }}" class="form-label"
    >{% trans "Server" %}</label
  >
  {% if form.server.field.queryset.count == 1 %}
    {% with form.server.field.queryset.0 as default_server %}
      <input
        class="form-control"
        type="text"
        value="{{ default_server }}"
        readonly
      />
      <input type="hidden" name="server" value="{{ default_server.pk }}" />
    {% endwith %}
  {% else %}
    {{ form.server }}
  {% endif %}
  {{ form.server.errors }}
</div>
