{% extends "web/app/app_base.html" %}
{% load i18n %}
{% block app %}
<section class="section app-card">
  <h1 class="title">{% trans "CommCare Home" %}</h1>
  <h2 class="subtitle">{% trans "View and manage your CommCare connections" %}</h2>
</section>
<section class="section app-card">
  <h1 class="title">{% trans "Projects" %}</h1>
  <h2 class="subtitle">{% trans "Manage the CommCare project spaces you'll connect to here" %}</h2>
{% if projects.exists %}
  <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'commcare:create_project' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>{% trans "Add Project" %}</span>
  </a>
  <table class="table is-striped is-fullwidth">
    <thead>
    <tr>
      <th>{% trans "Project" %}</th>
      <th>{% trans "View" %}</th>
      <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td>{{ project.domain }}</td>
        <td><a href="{{ project.url }}" target="_blank">{% trans "View in CommCare" %} <i class="fa fa-external-link"></i></a></td>
        <td>
          <a class="button is-small is-primary is-rounded is-outlined" href="{% url 'commcare:edit_project' project.id %}">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
            <span>{% trans "Edit" %}</span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <section class="notification is-warning is-light">
    {% trans "No projects found!" %}
  </section>
  <a class="button is-primary " href="{% url 'commcare:create_project' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>{% trans "Add Your First Project" %}</span>
  </a>
{% endif %}
</section>
<section class="section app-card">
  <h1 class="title">{% trans "Accounts" %}</h1>
  <h2 class="subtitle">{% trans "Manage the CommCare accounts used to sync your data" %}</h2>
{% if accounts.exists %}
  <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'commcare:create_account' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>{% trans "Add Account" %}</span>
  </a>
  <table class="table is-striped is-fullwidth">
    <thead>
    <tr>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Created" %}</th>
      <th>{% trans "Owner" %}</th>
      <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.username }}</td>
        <td>{{ account.created_at }}</td>
        <td>{% if request.user == account.owner %}{% trans "You" %}{% else %}{{ account.owner.get_display_name }}{% endif %}</td>
        <td>
          {% if request.user == account.owner %}
          <a class="button is-small is-primary is-rounded is-outlined" href="{% url 'commcare:edit_account' account.id %}">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
            <span>{% trans "Edit" %}</span>
          </a>
          {% else %}
            &mdash;
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <section class="notification is-warning is-light">
    {% trans "No accounts found!" %}
  </section>
  <a class="button is-primary " href="{% url 'commcare:create_account' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>{% trans "Add Your First Account" %}</span>
  </a>
{% endif %}
</section>
{% endblock app %}
