{% extends "web/app/app_base.html" %}
{% block app %}
<section class="section app-card">
  <h1 class="title">CommCare Home</h1>
  <h2 class="subtitle">View and manage your CommCare connections</h2>
</section>
<section class="section app-card">
  <h1 class="title">Projects</h1>
  <h2 class="subtitle">Manage the CommCare project spaces you'll connect to here</h2>
{% if projects.exists %}
  <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'commcare:create_project' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Project</span>
  </a>
  <table class="table is-striped is-fullwidth">
    <thead>
    <tr>
      <th>Project</th>
      <th>View</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td>{{ project.domain }}</td>
        <td><a href="{{ project.url }}" target="_blank">View in CommCare <i class="fa fa-external-link"></i></a></td>
        <td>
          <a class="button is-small is-primary is-rounded is-outlined" href="{% url 'commcare:edit_project' project.id %}">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
            <span>Edit</span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <section class="notification is-warning is-light">
    No projects found!
  </section>
  <a class="button is-primary " href="{% url 'commcare:create_project' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Your First Project</span>
  </a>
{% endif %}
</section>
<section class="section app-card">
  <h1 class="title">Accounts</h1>
  <h2 class="subtitle">Manage the CommCare accounts used to sync your data</h2>
{% if accounts.exists %}
  <a class="button is-primary is-rounded is-small is-outlined" href="{% url 'commcare:create_account' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Account</span>
  </a>
  <table class="table is-striped is-fullwidth">
    <thead>
    <tr>
      <th>Username</th>
      <th>Created</th>
      <th>Owner</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.username }}</td>
        <td>{{ account.created_at }}</td>
        <td>{% if request.user == account.owner %}You{% else %}{{ account.owner.get_display_name }}{% endif %}</td>
        <td>
          {% if request.user == account.owner %}
          <a class="button is-small is-primary is-rounded is-outlined" href="{% url 'commcare:edit_account' account.id %}">
            <span class="icon">
              <i class="fa fa-edit"></i>
            </span>
            <span>Edit</span>
          </a>
          {% else %}
            &mdash;
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <section class="notification is-warning is-light">
    No accounts found!
  </section>
  <a class="button is-primary " href="{% url 'commcare:create_account' %}">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Your First Account</span>
  </a>
{% endif %}
</section>
{% endblock app %}
