@charset "utf-8";
// any customizations you want to make to bulma should go here
// see https://bulma.io/documentation/customize/ for more information

$primary: hsl(217, 71%, 53%);  // make link-blue the primary color
$bg-grey: hsl(0, 0%, 98%);
$default-shadow: 0 2px 4px rgba(55, 63, 67, 0.3);
$body-background-color: $bg-grey;
$navbar-item-active-color: $primary;

@import "~bulma/bulma";
@import "pegasus/_all";
