@charset "utf-8"

.stat-box
  align-items: start !important

  .stat-box-label
    font-size: 0.7rem
    letter-spacing: 0.05em

  .stat-box-value
    font-size: 4rem
    font-weight: 600
    line-height: 1
    color: var(--bs-gray-600)

.stat-trend-up
  color: #85a6d6

.stat-trend-down
  color: #d6aa85

.stat-trend-flat
  color: #adb5bd
