
.navbar
  box-shadow: $default-shadow
  .navbar-item
    &.is-active
      @include media-breakpoint-down(md)
        background-color: inherit
      @include media-breakpoint-up(lg)
        border-bottom: 3px solid $link-color

  // style avatar / profile picture in nav
  img.avatar
    height: 32px
    width: 32px
    border-radius: 50%
    max-height: 32px


.app-two-column
  display: flex
  // default to menu above content
  flex-direction: column
  // but display side-by-side if enough space
  @include media-breakpoint-up(md)
    flex-direction: row

#app-nav
  @include media-breakpoint-up(lg)
    min-width: 12em

#app-content
  flex-direction: row
  min-width: 0
  @include media-breakpoint-up(md)
    margin-left: 2em

.app-card
  margin-bottom: 1em
  padding: 2em
  width: 100%
  border-radius: .3em
  box-shadow: $default-shadow
  // allow using "alert" class to override color styles
  &:not(.alert)
    background-color: white

// for content-heavy things like blogs

#content-main
  max-width: 1152px

#content-nav
  @include media-breakpoint-up(lg)
    min-width: 14em
  @include media-breakpoint-only(md)
    min-width: 8em

// these classes related to a sticky notification: https://coder-coder.com/sticky-header-animated/
.alert
  transition: padding 300ms ease
  // override Bootstrap adding a margin to notices
  &.app-message
    margin-bottom: .5rem
  &.sticky
    position: fixed
    width: 100%
    top: 0
    z-index: 1


.sticky-offset
  margin-top: 90px
