
// Navbar customizations
.navbar
  box-shadow: $default-shadow
  // style avatar / profile picture in nav
  img.avatar
    height: 32px
    width: 32px
    border-radius: 50%
    max-height: 32px

// Two-column app layout (sidebar + content)
.app-two-column
  display: flex
  // Default to menu above content on mobile
  flex-direction: column
  // Display side-by-side on tablets and up
  @include media-breakpoint-up(md)
    flex-direction: row

#app-nav
  @include media-breakpoint-up(lg)
    min-width: 12em

#app-content
  flex-direction: row
  min-width: 0  // Prevent flex items from overflowing
  @include media-breakpoint-up(md)
    margin-left: 2em

// Card component used throughout app for content sections
// Equivalent to: mb-4 p-4 w-100 rounded shadow-sm bg-white
.app-card
  margin-bottom: 1em
  padding: 2em
  width: 100%
  border-radius: .3em
  box-shadow: $default-shadow
  // Allow "alert" class to override color styles
  &:not(.alert)
    background-color: white

#content-main
  max-width: 1152px

#content-nav
  @include media-breakpoint-up(lg)
    min-width: 14em
  @include media-breakpoint-only(md)
    min-width: 8em

// Used for sticky notifications
.alert
  transition: padding 300ms ease
  &.app-message
    margin-bottom: .5rem
  &.sticky
    position: fixed
    width: 100%
    top: 0
    z-index: 1

.sticky-offset
  margin-top: 90px
