{% extends "web/base.html" %}
{% load static i18n %}
{% block body %}
<section class="py-4 container">
    <div class="row flex-row-reverse">
        <div class="col-md-6">
            <img src="{% static 'images/undraw/undraw_alert.svg' %}" alt="{% trans 'Uh-Oh' %}">
        </div>
        <div id="tagline" class="col-md-6">
            <h1 class="display-4">{% trans "Shucks. We couldn't find that." %}</h1>
            <p class="lead">
                {% trans "If you think this page should exist, double-check that you are signed in as the right person." %}
            </p>
        </div>
    </div>
</section>
{% endblock%}
