{% extends "web/base.html" %}
{% load static i18n %}
{% block body %}
  <section class="py-4 container">
    <div class="row flex-row-reverse">
      <div class="col-md-6">
        <img
          src="{% static 'images/undraw/undraw_alert.svg' %}"
          alt="{% trans 'Uh-Oh' %}"
        />
      </div>
      <div id="tagline" class="col-md-6">
        <h1 class="display-4">{% trans "Shucks. That's an error." %}</h1>
        <p class="lead">
          {% trans "Please try again, and if you continue to get this message, contact Support." %}
        </p>
      </div>
    </div>
  </section>
{% endblock %}
