Django
django-allauth
psycopg2-binary
djangorestframework
coreapi  # DRF schemas and docs
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
django-reversion==3.0.8
commcare-export~=1.4
pyopenssl>=20.0.1  # here to force upgrades of commcare-export dependencies
