{% extends "web/app/app_base.html" %}
{% load i18n %}
{% block app %}
  <section class="py-4 app-card">
    <div class="row">
      <div id="profile-picture" class="col-md-3">
        <div>
          <img class="avatar" src="{{ user.avatar_url }}" />
          <div id="profile-upload-holder" class="text-center">
            <label
              id="profile-upload-label"
              for="profile-upload"
              class="custom-file-upload"
            >
              {% trans "Change Picture" %}
            </label>
            <input id="profile-upload" type="file" accept="image/*" />
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h1 class="h4">{% trans "My Details" %}</h1>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label"
              >{% trans "Email" %}</label
            >
            {{ form.email }}
            {{ form.email.errors }}
          </div>
          <div class="mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="form-label"
              >{% trans "First Name" %}</label
            >
            {{ form.first_name }}
            {{ form.first_name.errors }}
          </div>
          <div class="mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="form-label"
              >{% trans "Last Name" %}</label
            >
            {{ form.last_name }}
            {{ form.last_name.errors }}
          </div>
          <div class="d-flex gap-2">
            <div>
              <button class="btn btn-primary" type="submit">
                {% trans 'Save' %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
{% block page_js %}
  <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      const uploadUrl = '{% url "users:upload_profile_image" %}';
      const uploadingText = '{% trans "Uploading..." %}';
      const uploadFailedText = '{% trans "Upload failed!" %}';

      document.getElementById("profile-upload").onchange = function () {
        let files = document.getElementById("profile-upload").files;
        let file = files[0];
        if (file) {
          updatePreview(file);
          uploadImage(file);
        }
      };
      function updatePreview(file) {
        // https://stackoverflow.com/a/4459419/8207
        let reader = new FileReader();
        reader.onload = function (e) {
          let avatars = document.getElementsByClassName("avatar");
          for (let i = 0; i < avatars.length; i++) {
            avatars[i].setAttribute("src", e.target.result);
          }
        };
        reader.readAsDataURL(file);
      }

      function uploadImage(file) {
        const csrfHeaders = JSON.parse(
          document.body.getAttribute("hx-headers") || "{}",
        );
        // update UI
        let uploadlabel = document.getElementById("profile-upload-label");
        uploadlabel.innerHTML =
          '<span class="icon"><i class="fa-solid fa-arrows-rotate"></i></span><span>' +
          uploadingText +
          "</span>";
        uploadlabel.classList.add("active");
        // upload to server
        let formData = new FormData();
        formData.append("avatar", file);
        fetch(uploadUrl, {
          method: "POST",
          body: formData,
          credentials: "same-origin",
          headers: {
            ...csrfHeaders,
          },
        }).then(function (response) {
          if (response.ok) {
            response.text().then(function (text) {
              // update UI
              console.log(text);
              uploadlabel.innerHTML =
                '<span class="icon"><i class="fa-solid fa-check"></i></span><span>' +
                text +
                "</span>";
              uploadlabel.classList.remove("active");
              uploadlabel.classList.add("text-success");
            });
          } else {
            response.text().then(function (errorText) {
              console.error(errorText);
              uploadlabel.innerHTML =
                '<span class="icon"><i class="fa-solid fa-xmark"></i></span><span>' +
                uploadFailedText +
                "</span>";
              uploadlabel.classList.add("text-danger");
            });
          }
        });
      }
    });
  </script>
{% endblock %}
